html {
  box-sizing: border-box;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

/* Header Section */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  padding-left: 10px;
  border-bottom: 1px solid seashell;
}

header img {
  height: 50px;
  width: auto;
}
a {
  color: seashell;
}
header li {
  display: inline-block;
  text-decoration: underline;
  padding-right: 10px;
}

/* Banner Section */
